<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Design</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Coffee Design!!!</h1>
        <nav>
          <a href="{{ url_for('index')}}">Home</a> |
          <a href="{{ url_for('read')}}">All posts</a> |
          <a href="{{ url_for('create')}}">Design a cup of coffee based on your taste</a>
        </nav>
      </header>
      <main>
        <h2>Welcome to Coffee Design</h2>
        <p>
          At Coffee Design, we believe in creating the perfect cup of coffee tailored to your preferences.
        </p>
        <p>
          Whether you prefer a classic espresso, a creamy latte, or an adventurous flavored brew, we've got you covered.
        </p>
        <p>
          Explore our menu, read customer reviews, and start designing your own unique coffee experience today!
        </p>
      </main>
      <footer>
        <p>
          The source code for this example app is
          <a href="https://github.com/dbdesign-students-spring2024/7-web-app-YuhaoZ22"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>