{% extends 'base.html' %}

{% block container %}
<h2>Coffee Design Forum</h2>
<p>Explore customized coffee designs submitted by other customers:</p>
        
{% for design in designs %}
<div>
    <hr class="solid">
    <p class="post">
        Submitted by: {{ design.customer_name }} at {{ design.created_at.strftime("%H:%M on %d %B %Y") }}
        <br/>
        <br>
        Coffee Beans: {{ design.coffee_beans }}
        <br>
        Number of Shots: {{ design.shots }}
        <br>
        Cup Size: {{ design.cup_size }}
        <br>
        <a href="{{ url_for('edit_post', mongoid=design._id)}}">Edit</a> | <a href="{{ url_for('delete', mongoid=design._id)}}">Delete</a>
        <br/>
    </p>           
</div>
{% endfor %}
{% endblock %}